@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;
  animation: fadeIn 0.3s ease-out;
}

.modalView {
  background-color: #0C1125;
  border-radius: 10px;
  width: 300px;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  animation: fadeIn 0.3s ease-out;
}

.modalState {
  font-size: 17px;
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
  color: rgb(191, 191, 191);
}

.modalButtonContainer {
  /* Add any specific layout for buttons if needed */
}

.acceptBtn {
  width: 90%;
  padding: 15px;
  border-radius: 50px;
  background-color: #4f46e5;
  color: white;
  font-size: 15px;
  font-family: "ABeeZee", sans-serif;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 10px;
}

.acceptBtn:hover {
  background-color: #3b3cc4;
}

@media (max-width: 600px) {
  .modalBackground {
    display: none;
  }
}
