/* Main Layout */
.dashboard {
    display: flex;
    background-color: #0C1125;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}


  .seedWarning{
    background-color: rgb(255, 248, 236);
    font-size: 14px;
    padding: 10px;
    text-align: center;
    border-radius: 1px;
    margin: 10px;
    
}
label{
  color:rgba(215, 215, 215, 1)
}

.inputCopyWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.inputCopyWrapper button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}


  .payNowBtn {
    background-color: #4f46e5;
    color: white;
    border: none;
    padding: 13px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }

.dashboard .leftSection {
    width: 20%;
    display: flex;
    flex-direction: column;

}


.dashboard .mainSection {
    width: 80%;
    margin-left: 5px;
    padding: 0px;
    justify-content: flex-start;
    overflow-y: scroll;
}











/* styling the balance section */
.dashboardContent {
    width: 100%;
}






/*desktop styling*/
.desktopMainSection {

    display: flex;
    flex-direction: row;
    width: 100%;
}

.desktopMainSectionleft {
    width: 50%
}

.desktopMainSectionright {
    width: 50%
}
























.container {
  padding: 2rem;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #1e1e2f;
  margin-bottom: 2rem;
}

.card,
.historyCard {
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  margin-bottom: 2rem;
  transition: all 0.3s ease;
  background-color:  #23234c;
}

.sectionTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: #4f46e5;
  margin-bottom: 1rem;
}

.formGroup {
  margin-bottom: 1.25rem;
}

.input,
.select {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 8px;
  background-color:  #23234c;
  font-size: 1rem;
  outline: none;
  transition: border 0.2s ease;
  border: none;
  color:#fff
}

.input,.select {
  width: 95%;
  border:1px solid #a4a4a4;
}


.input:focus,.select:focus{
  border: 1px solid #fff;
}


.input::placeholder {
  color: #bebebe; /* Replace with any color code */
  opacity: 1;  /* Optional: make sure it's fully visible */
}

.button {
  background-color: #4f46e5;
  color: #fff;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4039be;
}

.emptyText {
  font-size: 0.95rem;
  color: #c3c3c3;
  margin-top: 1rem;
}

.tableWrapper {
  box-shadow: 3px 8px 20px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  overflow-x: auto;
  background-color:  #23234c;
}

.tradeTable {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 0.95rem;
}

.tradeTable th,
.tradeTable td {
  padding: 1rem;
  color: #f8f8f8;
}

.placeholderRow {
  height: 3rem;
  text-align: center;
  color: #aaa;
}

.tickerTape {
  overflow: hidden;
  padding: 12px 0;
  margin-bottom: 24px;
  background-color: black;
}

.tickerInner {
  display: flex;
  animation: scroll 50s linear infinite;
  gap: 40px;
  white-space: nowrap;
}

.tickerItem {
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
  font-size: 14px;
  font-family: 'ABeeZee';
}

.coinIcon {
  width: 20px;
  height: 20px;
}

.coinName {
  font-weight: 600;
  font-family: 'ABeeZee';
}

.priceUp {
  color: #22c55e;
}

.priceDown {
  color: #ef4444;
}

@keyframes scroll {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.payNowBtn {
  background-color: #4f46e5;
  color: white;
  border: none;
  padding: 13px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

@media (max-width: 850px) {
  .dashboard .leftSection {
    width: 18%;
  }

  .dashboard .mainSection {
    width: 82%;
  }

  .title {
    width: 30%;
  }

  .buttonContainer {
    width: 70%;
  }

  .dashboardContent {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .title {
    width: 20%;
  }

  .buttonContainer {
    width: 80%;
  }

  .dashboardContent {
    width: 80%;
  }

  .tradeSummaryCard {
    width: 95%;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .title {
    display: none;
  }

  .buttonContainer {
    display: none;
  }

  .dashboard .leftSection {
    display: none;
  }

  .dashboard .mainSection {
    width: 100%;
  }

  .headerContainer {
    background: transparent;
    padding: 0px;
    box-shadow: none;
  }

  .mobileHeader {
    display: flex;
    justify-content: space-between;
  }

  .dashboard .mainSection {
    margin-left: 0px;
  }

  .balanceCard {
    display: block;
  }

  .dashboardContent {
    width: 100%;
  }

  .tabsContainer {
    display: block;
  }

  .desktopbalanceSection {
    display: none;
  }

  .desktoptabsContainer {
    display: none;
  }

  .desktoptabContent {
    display: none;
  }

  .rightPanel {
    display: none;
  }
}







.modalOverlay {
  position: fixed;
  inset: 0;

  background: rgba(0,0,0,.55);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;

  padding: 20px;
}

.modalCard {
  width: 100%;
  max-width: 550px;

  background: white;

  border-radius: 24px;

  padding: 30px;

  position: relative;

  animation: modalPop .25s ease;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 20px;

  border: none;
  background: transparent;

  font-size: 28px;
  cursor: pointer;
}

@keyframes modalPop {
  from {
    opacity: 0;
    transform: scale(.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}